.Button {
    background-color: #C3C8CC;
    border: none;
    color: white;;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
}

.Button:hover{
    background: #BDBDBD;
}

.ButtonHeader {
    height: 17px;
    width: 100px;
}

.ButtonContent {
    height: 40px ;
    width: 250px;
}