.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

@media (min-width: 1025px){
    .NavigationItems {
        flex-flow: column;
        height: auto;
    }
}