.Exchange {
    box-sizing: border-box;
    z-index: 90;
    height: 300px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.25), 0 1px 4px rgba(0,0,0,0.22);
    background: #DADFE3;
    display: flex;
    flex-flow: column;
    padding: 6px;
}

.Exchange div {
    height: 33%;
}

.InputsContainer {
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
}
.InputsContainer div {
    width: 50%;
    position: relative;
    display: flex;
}
.InputEnd {
    justify-content: flex-end;
    padding-right: 20px;
    box-sizing: border-box;
}
.InputStart {
    justify-content: flex-start;
    padding-left: 20px;
    box-sizing: border-box;
}

.ButtonContainer {
    flex-flow: column;
    display: flex;
    align-items: center;
    padding-top: 10px;
    box-sizing: border-box;
}

.ErrorDiv {
    border: 1px solid #fbe08c;
    background: #FEECB9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 35px;
    margin-top: 35px;
    color: #c95814;
    line-height: 20px;
    font-size: 0.7rem;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    box-sizing: border-box; 
    vertical-align: middle;
    display: table
}

